.TimeBlockList {
	margin-top: 100px;
}

.TimeBlockList ul {
	position: relative;
}

.TimeBlockList ul:after {
	content: '';
	width: 0;
	height: 100%;
	position: absolute;
	clear: both;
	left: 100px;
	top: 0;
	border-left: 1px solid #DFE0E2;
}