.TimeBlock {
	display: flex;
	height: 46px;
}

.TimeBlock .time-container {
	margin-right: 37px;
	width: 25px;
}

.TimeBlock.minute-00 {
	border-top: 1px solid black;
}

.TimeBlock.minute-30 {
	/*border-top: 1px dotted rgba(223,224,226,0.8);*/
	border-top: 1px dotted black;
}

.TimeBlock.minute-15 .time-container,
.TimeBlock.minute-30 .time-container,
.TimeBlock.minute-45 .time-container {
	visibility: hidden;
}

.TimeBlock .event-list {
	display: flex;
	width: 100%;
}

.TimeBlock .event {
	width: 200px;
	margin-right: 10px;
}

.TimeBlock .event-start {
	border-top-right-radius: 10px;
}

.TimeBlock .event-end {

}

.TimeBlock .event-content {
	display: flex;
	justify-content: center;
	align-items: center;
	background: #DFE0E2;
	border-left: 5px solid #23B5D3;
	color: #4C5760;
}

.TimeBlock .empty-event {
	background: #fff;
}