li.TimeBlock-li {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 120px;
	height: 50px;
	margin: 20px 0;
	cursor: pointer;
	border-radius: 12px;
}

li.TimeBlock-li.open {	
	background: #23B5D3;
	color: #FCF7F8;
}

li.TimeBlock-li.booked {
	background: #DFE0E2;
	color: #4C5760;
}